* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-color: #1D3C49;
    font-family: 'Nunito', sans-serif;
}

h1, h2 {
    color: #2ee3b0;
}

table {
    border-collapse: collapse;
}

#output_table td, #output_table th {
    border: 1px solid #ECECE6;
    padding: 5px;
}

#backLink {
    color: #93e2f9;
    text-decoration: none;
}

p:not(.content), button:not(#close),
.cell,
#header {
    color: #ECECE6;
}

input[type="submit"], button:not(#close, #prevNext) {
    background-color: #33a988;
    color: black;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.2s ease-out;
}

input[type="submit"]:hover,
button:not(#close):hover {
    background-color: #24725c;
    color: white;
    transition: all 0.2s ease-in;
}

select {
    height: 40px;
    background-color: #4af1c2;
    font-weight: bold;
    font-family: Arial Black, Arial, sans-serif;
}

.focus {
    font-family: Arial Black, Arial, sans-serif;
    font-weight: bold;
    color: #2ee3b0;
}

.info {
    color: #ECECE6;
}

.focus, .info {
    width: 150px;
}

#test {
    font-size: 100px;
    color: white;
    display: none;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#tools > tbody > tr > td {
    width: 400px;
}